@import 'variables';
@import 'mixins';

:root {
  font-family: 'Outfit', Inter, system-ui, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #1a202c;
}

.compact-table {
  width: 100%;
  border-collapse: collapse;
  
  th, td {
    padding: 8px 12px !important;
    font-size: 13px !important;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
